.RData
Rhistory
.Rproj.user/
250331_reference_seqs/
FANS_PILOT_DEV.Rproj
PRJ24022/
fans_pilot_raw_counts.csv
original_salmon_quant/
output/
plots/
qc/
reference_seqs/
salmon/
scripts/RNAseqQC_config_tom.sh
scripts/fastp_config_tom.sh
scripts/salmon_config_new.sh
scripts/salmon_config_tom.sh
star/